<div *ngIf="product" class="absolute inset-0 m-auto flex flex-col gap-6 max-w-sm h-screen justify-center select-none ">
    <div class=" relative">

        <!-- TODO: change to svg image -->
        <div (click)="close()" class="p-2 cursor-pointer absolute -top-10 -right-2 text-White hover:text-Orange" >X</div>

        <!-- TODO: zoom effect -->
        <img class="w-full h-full object-cover rounded-xl cursor-pointer hover:shadow-md" [src]="product.images[selected]" alt="">

        <button (click)="prevImg()" class="absolute inset-y-1/2 -left-5 translate-y-[-50%] w-10 h-10 bg-White rounded-full flex justify-center items-center">
            <img src="./assets/icons/icon-previous.svg" alt="icon previous">
        </button>

        <button (click)="nextImg()" class="absolute inset-y-1/2 -right-5 translate-y-[-50%] w-10 h-10 bg-White rounded-full flex justify-center items-center">
            <img src="./assets/icons/icon-next.svg" alt="icon next">
        </button>

    </div>

    <div class="flex gap-6 w-5/6 mx-auto">

        <div *ngFor="let imageSmall of product.imagesSmall; index as i" class="border-2 rounded-xl overflow-hidden cursor-pointer" [ngClass]="i === selected ? 'border-Orange' : 'border-transparent' ">
            <img class="hover:opacity-40" [src]="imageSmall" alt="" (click)="selectImage(i)">
        </div>
    </div>
</div>
