<section *ngIf="product" class="md:flex md:flex-col gap-6 md:w-full md:h-full md:justify-center">
    <div class="h-[90vw] max-h-96 relative md:max-h-max md:h-auto">
        <img class="w-full h-full md:h-auto object-cover md:rounded-xl cursor-pointer hover:shadow-md" [src]="product.images[selected]" alt="" (click)="isGalleryOn = !isGalleryOn">

        <button (click)="prevImg()" class="md:hidden absolute inset-y-1/2 left-4 translate-y-[-50%] w-10 h-10 bg-White rounded-full flex justify-center items-center">
            <img src="./assets/icons/icon-previous.svg" alt="icon previos">
        </button>

        <button (click)="nextImg()" class="md:hidden absolute inset-y-1/2 right-4 translate-y-[-50%] w-10 h-10 bg-White rounded-full flex justify-center items-center">
            <img src="./assets/icons/icon-next.svg" alt="icon next">
        </button>

    </div>
    <div class="hidden md:flex gap-6">
        <!-- <div class="border-Orange border-2 rounded-xl">
            <img class="opacity-30 rounded-xl" src="../../../assets/images/image-product-1-thumbnail.jpg" alt="">
        </div> -->
        <div *ngFor="let imageSmall of product.imagesSmall; index as i" class="border-2 rounded-xl overflow-hidden cursor-pointer" [ngClass]="i === selected ? 'border-Orange' : 'border-transparent' ">
            <img class="hover:opacity-40" [src]="imageSmall" alt="" (click)="selectImage(i)">
        </div>
    </div>
    <div *ngIf="isGalleryOn" class="fixed bg-Black-bg z-20 inset-0 w-screen h-screen">
        <app-product-image-gallery (closeGallery)="closeGallery()" [product]="product"></app-product-image-gallery>
    </div>
</section>
