@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Kumbh Sans', 'Courier New', Courier, monospace;
        font-weight: 400;
        max-width: 1100px;
        margin: 0 auto;
    }
}
@layer components {
    .hover-nav-li {
        @apply relative cursor-pointer opacity-100 before:absolute before:w-full before:-bottom-8 before:left-0 before:bg-Orange before:h-2 text-Very-dark-blue;
    }
}
